# Node modules and lock files
node_modules/
package-lock.json

# IDE config files
.vscode/
.idea/

# Sensitive info files
.env
*.bak
config/config.yml
config/configCommands.yml
config/configModules.yml
assets/islandChat/archive/*
assets/miyakoChat/*